// Logo
$width-logo: 170px;
$heigth-logo: 30px;

// Width
$w-70: 70%;
$w-100: 100%;

// Colors
$brand_primary: #513E5E;
$i_tag: #959999;
$paragraph_color: #B6B8D1;
$btn_color: #96A6A5;
$white:#FEFEFE;
$black: #0E0E0E;
$galley: #F0EFEF;

$changed: #0088cc;

$light_box_shadow: 0 0 25px #c4c2c2ad;


//Tag
$a_dec_none: none;